@import "../../variables.scss";

.category-bg-element {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    @media only screen and (min-width: $tablet) {
        flex-direction: row;
    }
}

.category-container:first-of-type {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;

    &:hover {
        cursor: pointer;

        & .category-body-container {
            opacity: 0.9;
        }
    }
    .category-bg-element {
        background-image: url(../../assets/bg-el-1.svg);
        width: 1600px;
        @media only screen and (min-width: $desktop-sm) {
            margin: 27px 0 0 250px;
        }
    }

    &:first-child .category-img {
        height: 420px;
        width: 360px;
        margin: 20px;

        @media only screen and (min-width: $tablet) {
            margin: 20px 45px auto;
            display: inline-flex;
        }

        @media only screen and (min-width: $desktop-sm) {
            height: 500px;
            width: 400px;
            margin-top: 0.25rem;
            margin-left: 4rem;
            margin-top: -2rem;
        }
    }
}

.category-container:nth-child(2) {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    height: 575px;

    &:hover {
        cursor: pointer;

        & .category-body-container {
            opacity: 0.9;
        }
    }
    .category-bg-element {
        background-image: url(../../assets/bg-el-3.png);
        width: 100%;
        @media only screen and (min-width: $desktop-sm) {
            flex-direction: row-reverse;
        }
        @media only screen and (min-width: $desktop-sm) {
            margin: 120px 0 0 -124px;
        }
    }

    .category-img {
        height: 350px;
        width: 275px;
        margin-top: 2rem;

        @media only screen and (min-width: $desktop-xl) {
            height: 500px;
            width: 378px;
            margin-top: 1rem;
            margin-left: 4rem;
            margin-right: 27rem;
        }
    }
}

.category-container:nth-child(3) {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    height: 548px;

    &:hover {
        cursor: pointer;

        & .category-body-container {
            opacity: 0.9;
        }
    }
    .category-bg-element {
        background-image: url(../../assets/bg-el-2.png);
        width: 100%;
        @media only screen and (min-width: $desktop-sm) {
            margin-top: 77px;
            margin-left: 289px;
        }
    }

    .category-img {
        height: 350px;
        width: 275px;
        margin-top: 2rem;

        @media only screen and (min-width: $desktop-xl) {
            height: 483px;
            width: 378px;
            margin-top: -2rem;
            margin-left: 9rem;
            margin-right: 4rem;
        }
    }
}

.category-container:nth-child(4) {
    // max-width: 1600px;
    // height: 900px;
    display: flex;
    align-items: center;

    &:hover {
        cursor: pointer;

        & .category-body-container {
            opacity: 0.9;
        }
    }
    .category-bg-element {
        background-image: url(../../assets/bg-el-4.svg);
        width: 100%;
        @media only screen and (min-width: $desktop-sm) {
            margin-top: 77px;
            margin-left: 289px;
            height: 482px;
        }
    }

    .category-img {
        width: 300px;
        height: 200px;
        @media only screen and (min-width: $desktop-xl) {
            height: 359px;
            width: 505px;
            margin-left: 3rem;
            margin-top: 3rem;
        }
    }
}

.category-container:nth-child(5) {
    height: 1300px;
    display: flex;
    align-items: center;

    &:hover {
        cursor: pointer;

        & .category-body-container {
            opacity: 0.9;
        }
    }
    .category-bg-element {
        background-image: url(../../assets/bg-el-5.svg);
        width: 100%;
        flex-direction: column-reverse !important;
        @media only screen and (min-width: $desktop-sm) {
            margin-top: 77px;
            margin-left: 111px;
        }
    }

    .category-img {
        height: 391px;
        width: 694px;
        @media only screen and (min-width: $desktop-xl) {
            height: 500px;
            width: 600px;
            margin: -90px auto;
        }
    }
}

.category-img {
    background-size: cover;
    background-repeat: no-repeat;
}

.new {
    font-size: 22px;
    @media only screen and (min-width: $tablet) {
        flex-direction: row;
    }
    :first-child {
        @media only screen and (min-width: $desktop-xl) {
            font-size: 78px;
            letter-spacing: -3px;
            padding-left: 30px;
        }
    }
    :nth-child(2) {
        @media only screen and (min-width: $desktop-xl) {
            font-size: 160px;
            letter-spacing: -10px;
            margin-top: -76px;
            padding-left: 68px;
        }
    }
    :nth-child(3) {
        @media only screen and (min-width: $desktop-xl) {
            font-size: 92px;
            letter-spacing: -4px;
            margin-top: -79px;
        }
    }
}

.womens {
    font-size: 22px;
    @media only screen and (min-width: $tablet) {
        flex-direction: row;
    }

    :first-child {
        @media only screen and (min-width: $desktop-xl) {
            font-size: 62px;
            letter-spacing: -3px;
            padding-left: 30px;
            margin-top: 58px;
        }
    }
    :nth-child(2) {
        @media only screen and (min-width: $desktop-xl) {
            font-size: 75px;
            letter-spacing: -6px;
            margin-top: -47px;
        }
    }
    :nth-child(3) {
        @media only screen and (min-width: $desktop-xl) {
            font-size: 72px;
            letter-spacing: -3px;
            margin-top: -44px;
            padding-left: 15px;
        }
    }
}

.mens {
    font-size: 22px;
    @media only screen and (min-width: $tablet) {
        flex-direction: row;
    }

    :first-child {
        @media only screen and (min-width: $desktop-xl) {
            font-size: 62px;
            letter-spacing: -3px;
            padding-left: 30px;
            margin-top: 58px;
        }
    }
    :nth-child(2) {
        @media only screen and (min-width: $desktop-xl) {
            font-size: 75px;
            letter-spacing: -6px;
            margin-top: -52px;
            padding-left: 117px;
        }
    }
    :nth-child(3) {
        @media only screen and (min-width: $desktop-xl) {
            font-size: 72px;
            letter-spacing: -3px;
            margin-top: -44px;
            padding-left: 15px;
        }
    }
}

.bags {
    font-size: 22px;
    @media only screen and (min-width: $tablet) {
        flex-direction: row;
    }

    :first-child {
        @media only screen and (min-width: $desktop-xl) {
            font-size: 62px;
            letter-spacing: -3px;
            padding-left: 30px;
            margin-top: 58px;
        }
    }
    :nth-child(2) {
        @media only screen and (min-width: $desktop-xl) {
            font-size: 75px;
            letter-spacing: -6px;
            margin-top: -44px;
            padding-left: 117px;
        }
    }
    :nth-child(3) {
        @media only screen and (min-width: $desktop-xl) {
            font-size: 72px;
            letter-spacing: -3px;
            margin-top: -39px;
            padding-left: 30px;
        }
    }
}

.accessories {
    font-size: 22px;
    margin: -100px 399px 0px;
    @media only screen and (min-width: $tablet) {
        flex-direction: row;
    }

    :first-child {
        @media only screen and (min-width: $desktop-xl) {
            font-size: 87px;
            letter-spacing: -3px;
            padding-left: 30px;
            margin-top: 58px;
        }
    }
    :nth-child(2) {
        @media only screen and (min-width: $desktop-xl) {
            font-size: 75px;
            letter-spacing: -6px;
            margin-top: -52px;
            padding-left: 117px;
        }
    }
    :nth-child(3) {
        @media only screen and (min-width: $desktop-xl) {
            font-size: 152px;
            letter-spacing: -7px;
            margin-top: -79px;
            padding-left: 35px;
        }
    }
}

.new .cta,
.womens .cta,
.mens .cta,
.bags .cta,
.accessories .cta {
    width: fit-content;
    padding: 5px 30px;
    margin-left: 20px;
    margin-top: 20px;
    border: solid 1px black;
    display: flex;
    background-color: rgba(255, 255, 255, 0.806);
    a {
        padding: 0;
        margin: 0 auto;
        color: rgb(75, 75, 75);
        text-decoration: none;
        @media only screen and (min-width: $desktop-sm) {
            font-size: 32px;
            letter-spacing: 0;
        }
        &:hover {
            color: black;
            transition: all 0.4s ease-in-out;
        }
    }
    &:hover {
        padding: 8px 40px;
        margin-left: 16px;
        color: black;
        background-color: rgb(255, 255, 255);
        transition: all 0.2s ease-in-out;
    }
}

.new,
.womens,
.mens,
.bags,
.accessories {
    display: inline-flex;
    flex-direction: column !important;
    margin-bottom: auto;
}
.new,
.womens,
.mens,
.bags {
    color: rgb(53, 53, 53);
}

.accessories {
    color: rgb(0, 0, 0);
    margin-top: -180px;
}
