/* ============================================= */
/*         Colors                                */
/* ============================================= */

// main brand colors
$flame: #e25c39;
$electric-blue: #7cf2ef;
$torea-bay: #1818a0;
$laser-lemon: #fff35f;

// highlight colors
$magenta: #ff00ff;
$cyan: #00ffff;
